html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    flex: 1; /* Esto hace que el contenido principal crezca y empuje el footer hacia abajo */
}

footer {
    background-color: #007bff; /* azul */
    color: white;
    text-align: center;
    padding: 15px 0;
}